.container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand";
}

.mainContent {
  text-align: center;
  color: black;
  font-family: "Quicksand";
}

.heading {
  font-size: 2.0rem;
}

.subHeading {
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
  margin-left: 350px;
}

.description {
  font-size: 1.0rem;
  margin-bottom: 2rem;
}

.getStartedButton {
  color: black;
  padding: 0.8rem 2rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #0053ba; /* Adding border */
  transition: background-color 0.3s ease;
}


.getStartedButton:hover {
  color: white;
  background-color: #0053ba;

}

.imageContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 20px; /* Optional: Adjust margin as needed */
}